<div class="container">
    <div class="title">
        <h1>Shop All Products</h1>
    </div>
    <div class="products-section">
        <app-filter (filterChange)="filter($event)" (clearFilters)="resetFilters()"></app-filter>
        <div class="products">
            <div class="select-wrapper">
                <select name="sortedSelected" id="sortedSelected" [(ngModel)]="sortedSelected" (change)="selectSorting()">
                    <option value="default">Default Sorting</option>
                    <option value="lowToHigh">Sort by price: low to high</option>
                    <option value="highToLow">Sort by price: high to low</option>
                    <option value="rating">Sort by rating</option>
                </select>
            </div>
            <div class="productsCont">
                <div class="product" *ngFor="let product of newProducts.slice((pageNumber - 1) * 6, pageNumber * 6); trackBy: trackById">
                    <img [src]="product.image" alt="{{ product.title }}" (click)="goToProductDetails(product.id)">
                    <h3>{{ product.title }}</h3>
                    <p>{{product.description}}</p>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <p>{{product.rating}}</p>
                    </div>
                    <div class="add">
                        <p>${{ product.price }}</p>
                        <button (click)="addToCart(product)" [disabled]="product.stock === 0"><i class="fa-solid fa-cart-plus" style="margin: 5px;" ></i>Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-pagination (pageNumber)="onPageChange($event)"></app-pagination>
      <app-alert
    [isOpen]="isOpen"
    [message]="message"
    [title]="title"
    [type]="type"
    (closed)="closeAlert()">
  </app-alert>
</div>