<div class="container">
    <div class="title">
        <h1>Shop All Products</h1>
    </div>
    <div class="products-section">
        <app-filter></app-filter>
        <div class="products">
            <div class="select-wrapper">
                <select name="sortedSelected" id="sortedSelected">
                    <option value="0">Default Sorting</option>
                    <option value="1">Sort by price: low to high</option>
                    <option value="2">Sort by price: high to low</option>
                    <option value="3">Sort by rating</option>
                </select>
            </div>
            <div class="productsCont">
                <div class="product" *ngFor="let product of products; trackBy: trackById">
                    <img [src]="product.image" alt="{{ product.title }}">
                    <h3>{{ product.title }}</h3>
                    <p>{{product.description}}</p>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <p>{{product.rating}}</p>
                    </div>
                    <div class="add">
                        <p>${{ product.price }}</p>
                        <button><i class="fa-solid fa-cart-plus" style="margin: 5px;"></i>Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>