<nav class="navbar">
    <div class="logo">
        <h2>ShopHub</h2>
    </div>
    <div class="links">
        <a routerLink="/home">Home</a>
        <a routerLink="/shop">Products</a>
    </div>
    <div class="cart">
        <a routerLink="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        <div class="profile" routerLink="/profile" *ngIf="isLoggedIn"><i class="fa-solid fa-user"></i></div>
        <button class="login-btn" *ngIf="!isLoggedIn" routerLink="/login">Login</button>
        <button class="logout-btn" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
        <div class="counter" [class.change] = "isLoggedIn" *ngIf="count > 0">
        {{ count }}
        </div>
    </div>
</nav>