<div class="container">
  <div class="box-login">

    <h1>Welcome Back</h1>
    <p class="subtitle">Login to continue shopping</p>

    <form>

      <div class="input-box">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
          required
        >
      </div>

      <div class="input-box">
        <label for="password">Password</label>

        <div class="password-box">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
            required
          >
        </div>
      </div>

      <button class="btn-login">Login</button>

    </form>

    <p class="register-text">
      Don't have an account?
      <a routerLink="/signup">Register here</a>
    </p>

  </div>
</div>