<div class="container">
  <div class="box-login">

    <h1>Welcome Back</h1>
    <p class="subtitle">Login to continue shopping</p>

    <form [formGroup]="loginForm" class="form-login">

      <div class="input-box">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
          formControlName="email"
        >
      </div>

      <div class="input-box">
        <label for="password">Password</label>

        <div class="password-box">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
            formControlName="password"
          >
        </div>
      </div>

      <button class="btn-login" [disabled]="disabled" (click)="onSubmit()">Login</button>

    </form>

    <p class="register-text">
      Don't have an account?
      <a routerLink="/signup">Register here</a>
    </p>

  </div>
    <app-alert
    [isOpen]="isOpen"
    [message]="message"
    [title]="title"
    [type]="type"
    (closed)="closeAlert()"></app-alert>
</div>